#main { width: 1200px; margin: auto; display: flex; flex-direction: column;}
#main .sub_menu { z-index: 101; background: #231f20;  width: 100%;height: 60px; margin: 50px auto; }
#main .sub_menu ul { display: flex; gap: 10px; }
#main .sub_menu #sub_nav > li{  height: 60px; line-height: 60px; text-align: center;}
#main .sub_menu #sub_nav > li:nth-child(1){ width: 70px;}
#main .sub_menu #sub_nav > li:nth-child(1) i {font-size: 17px; color: white; padding-left: 10px;}
#main .sub_menu #sub_nav > li:not(#sub_nav li:nth-child(1)){padding: 0 15px 0 45px; background: url(/img/nav_bg.png) 0 0 no-repeat; width: 170px;}
#main .sub_menu ul li > ul { display: none; flex-direction: column; background: #231f20;}
#main .sub_menu ul li > ul.active{ display: block;}
#main .sub_menu ul li > ul li:hover{background: #7B7576; }
#main .sub_menu ul li > ul li.checked{background: #4A4546;}
#main .sub_menu ul li > ul li.checked:hover{ background: #7B7576;}
/*#main .sub_menu .sub_hide + ul.active{display: block;}*/
#main .sub_menu .sub_hide i{padding-left: 10px;}

#main .sub_main .content h3{ text-align: center; font-weight: 700; font-size: 30px; color: #21409A; }
#main .sub_main img{ margin: auto; display: block;}
#main .sub_main dl dd, #main .sub_main a { color: #21409A;}
#main .sub_main .contact { z-index: 1000; position: fixed; right: -2px; top: 30%; background: white; border: 1px solid #C9CEFF;  width: 150px; padding: 20px; }
#main .sub_main .contact dl div{ margin-bottom: 15px; }
#main .sub_main .contact dl div dt{ border-bottom: 1px solid #C9CEFF; font-weight: 600; margin-bottom: 3px;}
#main .sub_main .contact .fa-times { display: none;}

/*#main .sub_main .contact.close dl, .contact.open .fa-chevron-left, #main .sub_main .contact.close .fa-chevron-right{ display: none;}*/

/*#main .sub_main .contact dl{}*/

/*--------------test-------------*/
/* .banner_wraper { height: 60px; width: 1130px; position: relative; overflow: hidden; }*/
/*.banner_wraper img { height: 45px; position: absolute;  }*/
/*--------------test-------------*/

@media (min-width: 1200px){
    #main #contact_bt{ display: none;}
    #main .sub_main .contact{ box-shadow: -7px 7px 4px -4px #dfe6e9; }
    #main .sub_main .contact .fa-chevron-right, #main .sub_main .contact .fa-chevron-left{ position: absolute; left:-33px; top: -1px; background-color: white; border: 1px solid #C9CEFF; width: 30px; height: 30px; font-size: 20px; text-align: center; line-height: 30px; box-shadow: -7px 7px 4px -4px #dfe6e9;}
    #main .sub_main .contact{ width: 0; padding: 0;}
    #main .sub_main .contact.open { z-index: 1000; position: fixed; right: -2px; top: 30%; background: white; border: 1px solid #C9CEFF;  width: 150px; padding: 20px; }
}
@media (max-width: 1200px) {
    #main { width: 100%;}
    #main .sub_menu { margin: 0;}

    #main .sub_main .content { position: relative;}
    #main .sub_main .content h3{ font-size: 25px;}
    #main .sub_main .content p{ width: 90%; margin: 10px auto;}
    #main .sub_main .content #contact_bt { display: inline-block; position: absolute; top: 19px; right: 25px; background: #21409A; color: white; border-radius: 7px; padding: 3px;}
    #main .sub_main img{ width: 90%;}
    /*#main .sub_main .contact { position: fixed; top: 25%; left: 25%; width: 50%; z-index: 1000; margin: auto;  background: white; padding: 30px 15px 20px; border-radius: 8px; border: 1px solid #21409A;}*/
    #main .sub_main .modal_background{display:none; position: fixed; top:0; left: 0; bottom: 0; right: 0;background: rgba(0, 0, 0, 0.2); z-index: 999;}
    #main .sub_main .modal_background.active{display: block; }
    #main .sub_main .contact { display: none; position: fixed; top: 50%; left: 50%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%); width: 50%; z-index: 1000; margin: auto;  background: white; padding: 30px 15px 20px; border-radius: 8px; border: 1px solid #21409A;}
    #main .sub_main .contact.active{display: block; }
    #main .sub_main .contact .fa-times { display: block; position: absolute; right: 20px; top:20px; font-size: 20px;}
    #main .sub_main .contact .fa-chevron-right,#main .sub_main .contact .fa-chevron-left { display: none;}
}
@media (max-width: 800px) {
    .mainContents li{width: 45%; }
    .mainContents li img { width: 90%;}
}
@media (max-width: 505px) {
    .mainContents li{width: 90%;}
    .mainContents li img { width: 90%;}
}
