body{margin:0; font-family: 'Source Sans Pro';}
ul, dd{ padding: 0;  margin:0;}
a{ text-decoration: none; color: white;}
ul, li{ list-style: none; }


header{  display:flex; align-items: center; justify-content: space-between; background: white; width: 1200px; margin : auto; height: 70px; line-height: 60px;}

header img{ height: 21px; vertical-align: middle; }
header ul { display: flex; gap: 8px; margin-right: 5px;}
header ul a{ color: black; font-weight: 600;}
nav { z-index: 2000;}
nav > ul{  background: #21409A; }
nav > ul > li { position: relative;   font-size: 18px; width: 100%;}
nav > ul > li:hover{ z-index: 2000; background: #62727b; transition-duration:0.2s;}
nav > ul li > ul { width: 100%; padding: 5px 0; background: #455a64; }
nav > ul li > ul li { font-size: 15px; padding: 15px; }
nav > ul li > ul li:hover{ background: #00796b; border-radius: 7px; transition-duration:0.2s;}
nav > ul li > ul {display: none; }

.navbar__toogleBtn{ display: none; width : 50px; height : 50px; font-size: 32px; color: white; text-align: center; line-height: 50px;}

#main { width: 1200px; margin: auto; display: flex; flex-direction: column;}
#main .sub_menu { z-index: 101; background: #231f20;  width: 100%;height: 60px; margin: 50px auto; }
#main .sub_menu ul { display: flex; gap: 30px; }
#main .sub_menu ul li:nth-child(1) i {font-size: 17px; color: white; padding-left: 25px;}
#main .sub_menu #sub_nav > li{  height: 60px; line-height: 60px; }
#main .sub_menu #sub_nav > li:not(#sub_nav > li:nth-child(1)){padding: 0 15px 0 45px; background: url(/img/nav_bg.png) 0 0 no-repeat; }
#main .sub_menu ul li > ul { display: none; flex-direction: column; background: #231f20;}
#main .sub_menu ul li > ul.active{ display: block;}
/*#main .sub_menu .sub_hide + ul.active{display: block;}*/
#main .sub_menu .sub_hide i{padding-left: 10px;}

#main .sub_main .content, #main .sub_main .contact dl div{box-shadow: 7px 7px 4px -4px #dfe6e9; }
#main .sub_main img{ margin: auto; display: block;}
#main .sub_main dl dd, #main .sub_main a { color: #21409A;}
#main .sub_main .contact i { display: none;}

aside { width: 1200px; background: white; border-top: 1px solid #62727b; height: 100px; line-height: 100px; margin: 50px auto 0 auto;  }
aside ul { width: 1000px; margin: auto; overflow: hidden; height: 100px; position: relative; }
aside > ul li { display: block; height: 100px; line-height: 100px; position: absolute;  }
aside > ul li > a { height: 100px; display: block; }
aside img { vertical-align: middle;}

footer{ width: 1200px; margin: auto; background: #231f20; height: 200px;}
footer > section > ul { display: flex; gap: 20px;}
footer address { color: white;}

/*--------------test-------------*/
/* .banner_wraper { height: 60px; width: 1130px; position: relative; overflow: hidden; }*/
/*.banner_wraper img { height: 45px; position: absolute;  }*/
/*--------------test-------------*/

@media (min-width: 1200px){
    nav{ width: 1200px; margin: auto;}
    nav > ul {display: flex; justify-content: space-around; height: 50px; line-height: 50px;}
    nav > ul > li { text-align: center;  position: relative; }
    /*nav > ul li:hover + nav > ul > li > ul{ display: block; }*/
    nav > ul li:hover > ul { display: flex; flex-direction: column; transition-duration:0.2s; }
    nav > ul li > ul {  position: absolute; top: 50px;}
    nav > ul li > ul li { line-height: normal;}

    #main .sub_main{ display: flex; gap: 10px;}
    #main #contact_bt{ display: none;}
}
@media (max-width: 1200px) {
    header{ background: #21409A; width: 100%; } /* #224099 */
    header ul {margin-right: 10px;}
    header .logo {background: url(/img/logo_kor_w.svg) center/100% no-repeat; height: 30px;}
    header .logo img{ opacity: 0;}
    header ul a{ color: white;}
    header img{ color: white; }
    .navbar__toogleBtn{ display: block;}
    nav { display: none; width: 250px; height: calc(100vh - 50px); background: #21409A;}
    nav > ul { width: 250px;}
    nav > ul li { line-height: 100%; }
    nav > ul li > a { display: block ; width: 250px; height: 80px; line-height: 80px;}
    nav > ul li > ul li { padding: 5px 0; width: 100%; /*height: 40px; line-height: 40px;*/}
    nav > ul li > ul li > a{ height: 40px; line-height: 40px;}
    nav > ul li:hover > ul { display: block; transition-duration:0.2s;}
    nav.active{ display: block; position: absolute; }

    #main { width: 100%;}
    #main .sub_main .content { position: relative;}
    #main .sub_main .content #contact_bt { display: inline-block; position: absolute; top: 19px; right: 25px; background: #21409A; color: white; border-radius: 7px; padding: 3px;}
    #main .sub_main img{ width: 90%;}
    #main .sub_main .contact { position: fixed; top: 25%; left: 25%; width: 50%; z-index: 1000; margin: auto;  background: white; padding: 30px 15px 20px; border-radius: 8px; border: 1px solid #21409A;}
    #main .sub_main .contact i { display: block; position: absolute; right: 20px; top:20px; font-size: 20px;}

    aside { width: 100%;}
    aside > ul { width: 88%;}

    footer{width: 100%;}
}
@media (max-width: 800px) {
    .mainContents li{width: 45%; }
    .mainContents li img { width: 90%;}
}
@media (max-width: 505px) {
    .mainContents li{width: 90%;}
    .mainContents li img { width: 90%;}
}
